@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<br />
<main>
    <section>
        <h2 class="text-center text-decoration-underline">Change Password</h2> <br />
        <p class="text-danger text-center">@ViewBag.ErrMsg</p>

        <form method="POST" action="">
            <div class="mb-3">
                <label for="oldPass" class="form-label">Previous Password</label>
                <input type="password" class="form-control" id="oldPass" name="oldPass">
            </div>
            <div class="mb-3">
                <label for="newPass" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPass" name="newPass">
            </div>

            <br />
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary w-full" type="submit">Change</button>
            </div>
        </form>

    </section>
</main>

